@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace ;
}

body{
    background-color: #1e2328;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    height: 90vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main h1{
    font-size: 3rem;
    color: #C5CDF8FF;


}

#quotes_article{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#quotes_div{
    width: 60%;
    height: 60%;
    display: grid;
    margin: auto;
    grid-template-rows: .3fr 2fr 1fr 1fr ;
    align-items: center;
    background-color: #2e3644;
    color: #c5cdf8;
    font-size: 1.2rem;
    box-shadow: 10px 17px 21px 5px rgba(0,0,0,0.33)


}

#quote{
    padding: 0 5% 0 2%
}

#quote_bottom{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%
}

#quote_bottom a{
    text-decoration: none;
    display: block;
    line-height: 3rem;
    width: 8rem;
    background-color: transparent;
    border: 2px solid  #169BFA;
    color: #169BFA;
    font-size: 1rem;
    text-align: center;

}

#author{
    color: #ff0000;
    text-align: end;
    padding-right: 5%;
}

ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #404c59;

}

li{
    margin-right: 1.5rem;
    font-size: 2rem;
}

#li1{
    color: red;
    margin-left: 4%;
}

#li2{
    color: yellow;
}

#li3{
    color: green;
}

#get_button{
    display: block;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: 2px solid red;
    color: red;
    padding: 1rem;
}

#get_button:hover{
    color: #1b1d21;
    background-color: red;
}

@media only screen and (max-width: 600px) {

    ul{
        display: none;
    }

    #quotes_div{
        height: auto;
        width: auto;
        max-height: 80%;
        grid-template-rows: 1fr 1fr;
        padding: 4rem;
        grid-row-gap: 3rem;
    }
}

@media only screen and (max-width: 1200px){
    li{
        display: none;
    }
}





